<mat-toolbar class="color ">
  <img src="assets/img/logo-black.png" width="65px">
  <span class="titulo">STREEKERS</span>


  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
