.example-spacer {
    flex: 1 1 auto;
}
.color {
    background-color: rgb(123, 84, 230);
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.titulo {
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}