<mat-toolbar class="navbartop">
  <div class="navbar_left">

  </div>
  
    <a [routerLink]="['/']"><img class="logo" src="assets/img/logo-black.png" width="63px"></a>
    
  <div class="navbar_mid">
    <a [routerLink]="['/articulos']">
      Articulos
    </a>
  </div>
  <span class="spacer"></span>
  <div class="navbar_right">
    <a mat-icon-button class="icons">
      <mat-icon>notifications</mat-icon>
    </a>
    <a [routerLink]="['/carrito']" mat-icon-button class="icons">
      <mat-icon>shopping_cart</mat-icon>
      <!-- <span class="navbar_label">Mi carrito</span> -->
    </a>
    <a [routerLink]="['/login']" mat-mini-fab color="secondary" class="icons">
      <mat-icon>perm_identity</mat-icon>
      <!-- <label class="navbar_label">Cuenta</label> -->
    </a>
  </div>
</mat-toolbar>
