<mat-toolbar class="navbartop">
  <div class="navbar_left">

  </div>
  <button mat-icon-button class="example-icon menu">
    <mat-icon class="menu">menu</mat-icon>
  </button>
    <a [routerLink]="['/']"><img class="logo" src="assets/img/logo-black.png" width="63px"></a>
  <span class="spacer"></span>

  <div class="navbar_right">
    <a mat-icon-button class="icons">
      <mat-icon>notifications</mat-icon>
    </a>
    <a href="#" mat-icon-button class="icons">
      <mat-icon>shopping_cart</mat-icon>
      <!-- <span class="navbar_label">Mi carrito</span> -->
    </a>
    <a [routerLink]="['/login']" mat-mini-fab color="secondary" class="icons">
      <mat-icon>perm_identity</mat-icon>
      <!-- <label class="navbar_label">Cuenta</label> -->
    </a>
  </div>
</mat-toolbar>
