.navbar_left {
    float: left;
}
.navbar_right {
    float: right;
    align-content: end;
}
.navbartop {
    background-color: #ffcc03;
    padding: 16px 54px;
    height: fit-content;
}
.icons {
    margin-left: 50px;
}

.navbar_label {
    font-size: 18px;
    padding-bottom: 20px;
}

.menu {
    margin-right: 30px;
}

.spacer {
    flex: 1;
}

