article:hover {
    transform: scale(1.05);
    transition: 200ms ;
}

.color {
    background-color: #fae849;
    color: black;
}

.color:hover {
  box-shadow: 1px 2px 7px  black;
}

.imagenes:hover > .img1 {
  display: none;
}

.imagenes:hover > .img2 {
  display: block;
}


.img2 {
  display: none;
}

