<router-outlet></router-outlet>
<div class="layout_big">
  <ul class="layout espacios">
    <li class="grande">
      <app-card
        img="assets/img/cupido_collection.jpg"
        route="https://www.ogsbrand.com/es/collections/the-cupidont-collection/"
        [id]="0"
        title = "The Cupidon't Collection"
      ></app-card>
    </li>
    <li class="grande">
      <app-card
        img="assets/img/cream_collection.jpg"
        route="https://www.ogsbrand.com/es/collections/cream/"
        [id]="1"
        title = "C.R.E.A.M"  
      ></app-card>
    </li>
    <li>
      <app-card 
      img="assets/img/gangster_collection.jpg"
      [id]="2"
      title = "Tiger"
      ></app-card>
    </li>
    <li>
      <app-card 
      img="assets/img/alien_collection.jpg" 
      [id]="3"
      title = "BEER & CHURROS"
      ></app-card>
    </li>
    <li>
      <app-card 
      img="assets/img/basic_collection.jpg" 
      [id]="4"
      title="OG's"
      ></app-card>
    </li>
    <li>
      <app-card 
      img="assets/img/accesories_collection.jpg" 
      [id]="5"
      title="Accesorios"
      ></app-card>
    </li>
  </ul>
</div>
