<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="layout_big">
  <ul class="layout espacios">
    <li class="grande">
      <app-card
        img="assets/img/cupido_collection.jpg"
        route="https://www.ogsbrand.com/es/collections/the-cupidont-collection/"
      ></app-card>
    </li>
    <li class="grande">
      <app-card
        img="assets/img/cream_collection.jpg"
        route="https://www.ogsbrand.com/es/collections/cream/"
      ></app-card>
    </li>
    <li>
      <app-card img="assets/img/gangster_collection.jpg"></app-card>
    </li>
    <li>
      <app-card img="assets/img/alien_collection.jpg"></app-card>
    </li>
    <li>
      <app-card img="assets/img/basic_collection.jpg"></app-card>
    </li>
    <li>
      <app-card img="assets/img/accesories_collection.jpg"></app-card>
    </li>
  </ul>
</div>
