/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  font-family: var(--font-tile)  !important;
  margin: 0;
  background: linear-gradient(to top, rgba(255,250,206,1) 0%, rgba(250,232,73,1) 100%);
  background-attachment: fixed;

}
:root {
  --font-tile: "Raleway";
}